[submodule "resources"]
	path = resources
	url = https://github.com/tkuaiic/tkuaiic-resources.git
	branch = master
[submodule "tkuaiic/2022"]
	path = tkuaiic/2022
	url = https://github.com/tkuaiic/tkuaiic-websites-tkuaiic-2022.git
	branch = master
